listen={{ listen }}
anonymous_enable={{ anonymous_enable }}
no_anon_password={{ no_anon_password }}
anon_root={{ anon_root }}
anon_upload_enable={{ anon_upload_enable }}
write_enable={{ write_enable }}
connect_from_port_20={{ connect_from_port_20 }}
anon_root=/var/ftp/pub
dirmessage_enable=YES
xferlog_enable=YES
pam_service_name=vsftpd
userlist_enable=YES